.navbar {
    width: 100%;
    background-color: cornflowerblue;
}
.menu-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}
.nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.nav-link {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bolder;
    margin-right: 30px;
}
.nav-link:hover,
.nav-link:focus {
    color: rgb(83, 126, 206);
}
